* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.main--container {
  background-color: #0b2434;
  width: 360px;
  height: 379px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tenzies--container {
  width: 320px;
  height: 320px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.text--content {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 230px;
}
.highscore {
  margin-bottom: -5px;
}
.highscore > p {
  font-size: 0.7rem;
}
.text--content > h1 {
  font-family: "Karla";
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.03em;
  margin-top: 0px;
  margin-bottom: 4px;
}
.text--content > h4 {
  margin-top: 0px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.03em;
}

.dice--container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  margin-top: -8px;
}

.dice--images {
  margin: 10px;
  background-color: #f5f5f5;
  display: flex;
  width: 40px;
  height: 40px;

  border-radius: 4px;
  cursor: pointer;
}

.button--roll {
  width: 120px;
  height: 36px;
  font-family: "Karla";
  font-weight: 700;
  font-size: 16px;
  color: white;
  background-color: rgb(55, 55, 244);
  border: none;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 12px;
}
.count--container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.roll--count {
  margin-top: 5px;
  margin-bottom: 5px;
}
